global_defs {
    router_id {{ ansible_hostname }}
}


vrrp_instance VI_1 {

{% if ansible_hostname == "proxy01" %}
    state:  MASTER
    priority 200
{%elif ansible_hostname == "proxy02}
    state BACKU
{% endif %}

    interface eth1
    virtual_router_id 49
    priority 100
    advert_int 3

    authentication {
        auth_type PASS
        auth_pass 1111
    }

    virtual_ipaddress {
        {{ proxy_vip }}
    }
}