fronted blog 
    bind *:80
    mode http

    acl blog_domain host_rge(host) -i {{ word_domain }}

    use_backend blog_cluster if blog_domain
backend blog_cluster
        balance round

{% for host in grounps['webservers'] %}
    server {{ host }} {{ host }}:{{ haproxy_port }} check-port {{ haproxy_port }}
{% endfor %}